.auth {
    .left{
      height: 100vh;
      background-image: url(https://i.imgur.com/Fqy5hIh.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 70%;
    }
    .rigt{
      overflow: auto;
    }
    .logo-block {
      margin-top: 50px;
      margin-bottom: 50px;  
      img {
        width: 60%;
      }
    }
    button{
        &.signin{
          width: 54%;
        }
    }
  }
  