<!-- loader -->
<div>
    <div class="mdc-data-table" data-mdc-auto-init="MDCDataTable">
        <!-- Table Example-->
        <table class="mdc-data-table__table" aria-label="Dessert calories">
            <thead>
                <tr class="mdc-data-table__header-row">
                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">
                        {{'Username'}}
                    </th>
                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">
                        {{'Email'}}
                    </th>
                </tr>
            </thead>
            <tbody class="mdc-data-table__content">
                <tr class="mdc-data-table__row" *ngFor="let user of users">
                    <td class="mdc-data-table__cell">
                        <a target="_blank">
                            {{ user.username }}
                        </a>
                    </td>
                    <td class="mdc-data-table__cell mdl-data-table_cell--description">
                        {{ user.email }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
