.mdc-dialog {
  .mdc-dialog__container {
    width: 100%;
  }
  .mdc-dialog__surface {
    border-radius: 15px;
    width: 100%;
    .mdc-dialog__content {
      z-index: 999;
      padding-top: 24px;
      padding-bottom: 24px;
      .mdc-layout-grid {
        padding: 0px 0px 10px 0px;
      }
    }
  }
  .mdc-dialog__title {
    border-bottom: 1px solid #d4c8c8;
    .close-btn {
      float: right;
      margin-top: 20px;
      cursor: pointer;
    }
  }
  .mdc-dialog__actions {
    padding: 20px 24px;
    button {
      margin-left: 8px;
    }
  }
  .mdc-dialog__scrim {
    background-color: rgba(0, 0, 0, 0.64);
  }
  .spinner {
    position: relative;
    top: -10px;
    left: 5px;
  }
}
