.#{$css-prefix}footer {
  border-top: 1px solid lightgray;
  height: 54px;
  background: $white;
  padding: 0px;
  margin: 0px;
//   overflow: hidden;
  margin-left: -24px;
  margin-right: -24px;
  .mdc-layout-grid {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    li {
      &:nth-child(1) {
        padding-left: 0px;
        margin-left: 0px;
      }
      &:nth-last-child(1) {
        border-right-width: 0px;
      }
      float: left;
      margin: 19px 0px 19px 0px;
      padding-right: 10px;
      padding-left: 10px;
      border-right: 1px solid lightgray;
      color: gray;
      font-size: 12px;
      a {
        text-decoration: none;
        color: gray;
      }
    }
  }
  .version {
    margin: 21px 0px;
    display: inline-block;
    font-size: 10px;
    font-style: italic;
    line-height: 12px;
  }
}
