.breadcrumb {
  padding-left: 12px;
  list-style-type: none;
  li {
    display: inline-block;
    font-size: 1.1rem;
    // margin-right: 25px;
    i {
      padding-left: 5px;
      padding-right: 5px;
      color: #fff;
      font-size: 1.1rem;
      position: relative;
      top: 3px;
    }
    a {
      cursor: pointer;
      text-decoration: none;
      display: inline-block;
      font-weight: 400;
      color: #fff;
      font-size: 1.1rem;
      i {
        padding-right: 10px;
        color: #fff;
        font-size: 1.1rem;
        position: relative;
        top: 3.5px;
      }
    }
    // &::after {
    //   content: "\e315";
    //   font-family: "Material Icons";
    //   position: absolute;
    //   margin-left: 5px;
    //   margin-top: 2px;
    // }
    &:nth-child(1){
      margin-right: 0px;
    }
    &:nth-child(1)::after {
      content: "";
    }
    &:nth-last-child(1)::after {
      content: "";
    }
  }
}
