.mdc-data-table {
  width: 100%;
  .mdc-data-table__content {
    .mdc-data-table__cell {
      &.mdl-data-table_cell--description {
        text-overflow: ellipsis;
        max-width: 320px;
        white-space: nowrap;
        overflow: hidden;
        &:hover {
          overflow: visible;
          white-space: normal;
          height: auto;
        }
      }
    }
  }
}
