// loading bars
.preload {
  position: fixed;
  background-color: #fff;
  font-size: 0px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  text-align: center;
  align-items: center;
  z-index: 99999;
  font-family: arial;
  p {
    padding: 0px;
    margin: 0px auto;
  }
}
.pace.pace-inactive,
.pace-done .preload {
  display: none;
}

// loading
.lds-dual-ring {
  display: inline-block;
  width: auto;
  height: auto;
  &.large:after {
    width: 32px;
    height: 32px;
  }
  &.small:after {
    width: 16px;
    height: 16px;
  }
  &.x-small:after {
    width: 10px;
    height: 10px;
    border-width: 2px;
  }
  &:after {
    content: " ";
    display: block;
    width: 24px;
    height: 24px;
    margin: 1px;
    border-radius: 50%;
    border: 2px solid $mdc-theme-primary;
    border-color: $mdc-theme-primary transparent $mdc-theme-primary transparent;
    animation: lds-dual-ring 0.5s linear infinite;
  }
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
