.mdc-tab-bar {
    border-bottom: 1px solid #0000003d;
    .mdc-tab-indicator {
        .mdc-tab-indicator__content--underline {
            height: 3px;
        }
    }
    .mdc-tab-scroller__scroll-content {
        flex: none !important;
        .mdc-tab {
          text-transform: none;
          letter-spacing: 0px;
        }
    }  
}
