// text field
.mdc-text-field {
  border-radius: 10px;
  .mdc-text-field__input {
    border-bottom: none;
  }

  &.mdc-text-field--textarea {
    background-color: whitesmoke;
  }

  &.rounded {
    .mdc-notched-outline__leading {
      border-radius: 50px 0px 0px 50px;
      width: 24px;
    }

    .mdc-notched-outline__trailing {
      border-radius: 0px 50px 50px 0px;
      width: 24px;
    }
  }

  &.full-width {
    width: 100%;
  }

  &.md {
    height: 48px;

    .mdc-text-field__icon {
      bottom: 12px;
    }
  }

  &.sm {
    height: 40px;
    .mdc-text-field__icon {
      bottom: 8px;
    }
    .mdc-text-field__input {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }

  .mdc-text-field__input:required ~ .mdc-floating-label::after,
  .mdc-text-field__input:required
    ~ .mdc-notched-outline
    .mdc-floating-label::after {
    content: "";
  }
  input[disabled="disabled"] {
    cursor: no-drop;
  }
}

// textarea field
.mdc-text-field--textarea {
  .mdc-floating-label {
    margin-left: 10px;
    &.mdc-floating-label--float-above {
      margin-top: 15px;
    }
  }
  textarea {
    &.mdc-text-field__input {
      margin-top: 30px;
    }
  }
}

// helpline label
.mdc-text-field-helper-line {
  .mdc-text-field-helper-text--validation-msg {
    opacity: 1;
    color: #b00020 !important;
  }
}
