.mdc-top-app-bar__row,
.mdc-drawer__header {
  height: 54px;
  min-height: 54px;
}
.mdc-drawer__header {
  background-color: $gradient-color2;
  // border-right: 1px solid $gradient-color2;
  padding-left: 24px;
  padding-right: 24px;
  background-image: url(/assets/images/topbar-pattern.svg);
  background-position: 10px 3px;
  &::after {
    content: "";
    border-right: 1px solid $white;
    top: -22px;
    position: relative;
    left: 231px;
  }
}
.mdc-top-app-bar {
  .mdc-top-app-bar__section--align-start {
    img {
      &.logo {
        height: 30px;
        width: auto;
      }
    }
  }
}

// only apply this style if below top app bar
.mdc-top-app-bar {
  z-index: 7;
  @include gradient-x(
    $start-color: $gradient-color2,
    $end-color: $gradient-color1,
    $start-percent: 0%,
    $end-percent: 85%
  );
  .mdc-top-app-bar__row {
    background-image: url(/assets/images/topbar-pattern.svg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    top: 0;
    left: 0;
  }
  .mdc-top-app-bar__title {
    padding-left: 12px;
    font-size: 1.1rem;
  }
  .mdc-top-app-bar__section {
    li.profile-link {
      height: 55px;
    }
    .topbar-avatar {
      height: 40px;
      width: 40px;
      padding: 6px;
      margin-left: 6px;
      margin-right: 6px;
      color: $gradient-color1;
      background: white;
      border-radius: 50%;
      border: 1px solid $gradient-color1;
      &.lg {
        font-size: x-large;
        display: inline-flex;
        height: 42px;
        width: 42px;
      }
    }
  }
}
