// colors
$mdc-theme-primary: rgb(14,109,176);
$mdc-theme-secondary:#104153;
$seconday-color: #104153;
$gradient-color1: #002844;
$gradient-color2: #000000;
$white: #FFF;
$succss: #2ECC71;
$danger: #b00020;
$dialog-lg: 700px;

// others
$css-prefix: "ltx-m10-";
